<h2 mat-dialog-title>Invitar Usuario</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Buscar usuario</mat-label>
    <input matInput [(ngModel)]="searchTerm" placeholder="Escribe un nombre" />
  </mat-form-field>

  <mat-list>
    <mat-list-item *ngFor="let user of filteredUsers()">
      <mat-checkbox
        [checked]="selectedUsers.has(user.id)"
        (change)="toggleSelection(user.id)"
      >
        {{ user.firstName }} {{ user.lastName }}
      </mat-checkbox>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="agregarUsuarios()" [disabled]="isDisabled()">Agregar</button>
</mat-dialog-actions>
