
<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  @for (item of items; track $index) {
    <mat-form-field appearance="fill">
      <mat-label>Ingresa tu {{item}}</mat-label>
      <input matInput placeholder="{{item}}">
      <!--<mat-hint>Escribe tu nombre completo</mat-hint>-->
    </mat-form-field>
    @if (($index+1)%2==0) {
      <br>
    }@else {
      &nbsp;
    }
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
